*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background:linear-gradient(to right, rgba(0,0,0,0.6) 98%, rgba(255,255,255,0) 100%) ,
    url('images/backgroundimg.jpg') center center;
   background-size: contain;
 
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 3rem;
    color: white
}
.title h2{
    font-size: 2rem;
   
}
.underline{
    height: 5px;
    position: relative;
    top: 15px;
    width: 150px;
    border-radius: 20%;
    background-color:#c4996c;
}
.underline-2{
    color: aqua;
}
.btn-container{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    word-spacing: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column;
    justify-content: space-between; */

    
   
   
}
.filter-btn{
    font-size: 1rem;
    position: relative;
    top: 40px;
    border-radius: 10%;
    padding:10px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid ;
    border-radius: 10%;
    margin: 4px;
    
      
}
.filter-btn:hover{
    background-color: #c4996c;
    color: white;
    transition: ease-in;
}


.photo{
    width: 150px;
    height: 150px;
    border: 5px solid  #c4996c;
    border-radius: 10%;
    
}
.section-center{
    position: relative;
    top: 20px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap:10px;


   
}
.menu-item{
    display: flex;
    padding: 40px;
    border: 10px;

}



header{
    display: flex;
    

}

.item-info{
    margin-left: 5%;
    position: relative;
    width: 100%;
    color: white;
    font-size: 1.5rem;

    
 

}

h4{
    margin-bottom: 5px;
    width: 45%;

}
.item-title{
    font-size: 1.5rem;

}
.item-text{
    margin-top: 10px;
    position: relative;
    width: 100%;
    font-size: 1.5rem;

    color: whitesmoke;

}




.price{
    color: whitesmoke;

    position: relative;
    font-size: 1.5rem;
    left:150px;
    height: 0px;
    margin: 0px;
    top: 5px;
  
}


.underline-2{
    height: 2px;
    background-color: black;
    
    width: 100%;
}

.footer-section{
    background-color: #4A423E;
    /* background-color: #c4996c; */
    color: white;
    position: relative;
    top: 150px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
 
   
}
.footer-title{
    font-size: 1.5rem;
    position: relative;
    bottom: 30px;

}

.contact-us{
    position: relative;
    top: 25px;


}





.follow-us{
    display: flex ;
    justify-content: center;
    text-align: center;
    

    
}
.footer-call-to-action{
    position: relative;
    left: 25%;
    width: 100px;
    font-size: 1.5rem;
    bottom: 5px;
}
.footer-call-to-action-2{
    position: relative;
    height: 20px;
    width: 100px;
    left: 80%;
    font-size: 1.5rem;
    bottom: 10px;
}
a,h5{
    text-decoration: none;
    margin: 10%;
    position: relative;
    top: 15px;
    color: white;
  
   
}
h5{
    top: 5%;
}





@media screen and (max-width: 768px ) and (min-width:600px) {
  
    

    .btn-container{
        align-items: center;
        text-align: center;
        margin-top: 30px;
        word-spacing: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
       


    /* flex-direction: column;
    justify-content: space-between; */

    
    }
    .filter-btn{
        font-size: 1rem;
        width: 25%;
       
    }
    .photo{
        width: 100px;
        height: 100px;
        border: 3px solid  #c4996c;
        border-radius: 10%;
        position: relative;

        
    }
    .section-center{
        position: relative;
        top: 20px;
        padding: 100px;
        left: 0px;
        display: grid;
        grid-gap:10px;


    
    }
    .menu-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding: 40px;
        border: 10px;
        width:10px;
        right: 120px;
        
    }
    .item-info{
        margin-left: 5%;
        color: white;
        font-size: 1.2rem;
        width: 500px;

    }
    .item-title{
        font-size: 1.2rem;

    }
    .item-text{
        margin-top: 10px;
        position: relative;
        width: 100%;
        font-size: 1rem;

        color: whitesmoke;

    }

    .price{
        color: whitesmoke;
        position: relative;
        font-size: 1.2rem;
        left:100px;
        height: 0px;
        margin: 0px;
        top: 5px;
    
    }
    .footer-section{
        background-color: #4A423E;
        /* background-color: #c4996c; */
        color: white;
        position: relative;
        top: 150px;
        height: 250px;
        display: flex;
        
    
    
    }
    .footer-title{
        font-size: 1.4rem;
        position: relative;
        top: 8px;

    }

    .contact-us{
        position: relative;
        top: 15px;
    }


    .footer-call-to-action{
        position: relative;
        left: 20%;
        width: 100px;
        top: 15px;
        font-size: 1rem;
    }
    a{
        position: relative;
        text-align: center;
        left: 30px;
        
        
    
    }



}
@media screen and (max-width: 600px ) and (min-width:425px) {
  
    

    .btn-container{
        align-items: center;
        text-align: center;
        margin-top: 30px;
        word-spacing: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;


    /* flex-direction: column;
    justify-content: space-between; */

    
    }
    .filter-btn{
        font-size: 1rem;
        width: 40%;
    }
    .photo{
        width: 80px;
        height: 80px;
        border: 3px solid  #c4996c;
        border-radius: 10%;
        position: relative;

        
    }
    .section-center{
        position: relative;
        top: 20px;
        padding: 100px;
        left: 0px;
        display: grid;
        grid-gap:10px;
        



    
    }
    .menu-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding: 40px;
        border: 10px;
        width:10px;
        right: 120px;
        
    }
    .item-info{
        margin-left: 5%;
        color: white;
        font-size: 1.2rem;
        width: 200px;

    }
    .item-title{
        font-size: 1.2rem;

    }
    .item-text{
        margin-top: 10px;
        position: relative;
        width: 100%;
        font-size: 1rem;

        color: whitesmoke;

    }

    .price{
        color: whitesmoke;
        position: relative;
        font-size: 1.2rem;
        left:100px;
        height: 0px;
        margin: 0px;
        top: 5px;
    
    }
    .footer-section{
        background-color: #4A423E;
        /* background-color: #c4996c; */
        color: white;
        position: relative;
        top: 150px;
        height: 250px;
        display: flex;
        
    
    
    }
    .footer-title{
        font-size: 1.4rem;
        position: relative;
        top: 8px;

    }

    .contact-us{
        position: relative;
        top: 15px;
    }


    .footer-call-to-action{
        position: relative;
        left: 20%;
        width: 100px;
        top: 15px;
        font-size: 1rem;
    }
    a{
        position: relative;
        text-align: center;
        left: 30px;
        
        
    
    }



}
@media screen and (max-width: 425px ) and (min-width:375px) {
  
    

    .btn-container{
        align-items: center;
        text-align: center;
        margin-top: 30px;
        word-spacing: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;


    /* flex-direction: column;
    justify-content: space-between; */

    
    }
    .filter-btn{
        font-size: 1rem;
        width: 40%;
    }
    .photo{
        width: 80px;
        height: 80px;
        border: 3px solid  #c4996c;
        border-radius: 10%;
        position: relative;

        
    }
    .section-center{
        position: relative;
        top: 20px;
        padding: 100px;
        left: 0px;
        display: grid;
        grid-gap:10px;
        



    
    }
    .menu-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding: 40px;
        border: 10px;
        width:10px;
        right: 120px;
        
    }
    .item-info{
        margin-left: 5%;
        color: white;
        font-size: 1.2rem;
        width: 200px;

    }
    .item-title{
        font-size: 1.2rem;

    }
    .item-text{
        margin-top: 10px;
        position: relative;
        width: 100%;
        font-size: 1rem;

        color: whitesmoke;

    }

    .price{
        color: whitesmoke;
        position: relative;
        font-size: 1.2rem;
        left:100px;
        height: 0px;
        margin: 0px;
        top: 5px;
    
    }
    .footer-section{
        background-color: #4A423E;
        /* background-color: #c4996c; */
        color: white;
        position: relative;
        top: 150px;
        height: 250px;
        display: flex;
        
    
    
    }
    .footer-title{
        font-size: 1.4rem;
        position: relative;
        top: 8px;

    }

    .contact-us{
        position: relative;
        top: 15px;
    }


    .footer-call-to-action{
        position: relative;
        left: 20%;
        width: 100px;
        top: 15px;
        font-size: 1rem;
    }
    a{
        position: relative;
        text-align: center;
        left: 30px;
        
        
    
    }



}


@media screen and (max-width: 375px ) and (min-width:320px) {
    .title{
        font-size: 2.5rem;
    }
  
    

    .btn-container{
        align-items: center;
        text-align: center;
        margin-top: 30px;
        word-spacing: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;

    /* flex-direction: column;
    justify-content: space-between; */

    
    }
    .filter-btn{
        font-size: 0.8rem;
        width: 50%;
    }
    .photo{
        width: 80px;
        height: 80px;
        border: 3px solid  #c4996c;
        border-radius: 10%;
        position: relative;

        
    }
    .section-center{
        position: relative;
        top: 20px;
        padding: 100px;
        left: 0px;
        display: grid;
        grid-gap:10px;
        



    
    }
    .menu-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding: 40px;
        border: 10px;
        width:10px;
        right: 120px;
        
    }
    .item-info{
        margin-left: 5%;
        color: white;
        font-size: 1.2rem;
        width: 200px;

    }
    .item-title{
        font-size: 1.2rem;

    }
    .item-text{
        margin-top: 10px;
        position: relative;
        width: 100%;
        font-size: 1rem;

        color: whitesmoke;

    }

    .price{
        color: whitesmoke;
        position: relative;
        font-size: 1.2rem;
        left:80px;
        height: 0px;
        margin: 0px;
        top: 5px;
    
    }
    .footer-section{
        background-color: #4A423E;
        /* background-color: #c4996c; */
        color: white;
        position: relative;
        top: 150px;
        height: 250px;
        display: flex;
        
    
    
    }
    .footer-title{
        font-size: 1.4rem;
        position: relative;
        top: 8px;

    }

    .contact-us{
        position: relative;
        top: 15px;
    }


    .footer-call-to-action{
        position: relative;
        left: 20%;
        width: 100px;
        top: 15px;
        font-size: 1rem;
    }
    a{
        position: relative;
        text-align: center;
        left: 30px;
        
        
    
    }



}

@media screen and (max-width: 320px )  {
    .title{
        font-size: 2rem;
    }
  
    

    .btn-container{
        align-items: center;
        text-align: center;
        margin-top: 30px;
        word-spacing: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        

    /* flex-direction: column;
    justify-content: space-between; */

    
    }

    .filter-btn{
        font-size: 0.8rem;
        width: 50%;
    }
    .photo{
        width: 70px;
        height: 70px;
        border: 3px solid  #c4996c;
        border-radius: 10%;
        position: relative;

        
    }
    .section-center{
        position: relative;
        top: 20px;
        padding: 100px;
        left: 0px;
        display: grid;
        grid-gap:10px;
        



    
    }
    .menu-item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding: 40px;
        border: 10px;
        width:10px;
        right: 120px;
        
    }
    .item-info{
        margin-left: 5%;
        color: white;
        font-size: 1.2rem;
        width: 200px;

    }
    .item-title{
        font-size: 1rem;
        
        

    }
    .item-text{
        margin-top: 10px;
        position: relative;
        width: 100%;
        font-size: 0.8rem;
        color: whitesmoke;

    }

    .price{
        color: whitesmoke;
        position: relative;
        font-size: 1rem;
        left:60px;
        height: 0px;
        margin: 0px;
        top: 5px;
    
    }
    .footer-section{
        background-color: #4A423E;
        /* background-color: #c4996c; */
        color: white;
        position: relative;
        top: 150px;
        height: 250px;
        display: flex;
        
    
    
    }
    .footer-title{
        font-size: 1.4rem;
        position: relative;
        top: 8px;

    }

    .contact-us{
        position: relative;
        top: 15px;
    }


    .footer-call-to-action{
        position: relative;
        left: 20%;
        width: 100px;
        top: 15px;
        font-size: 1rem;
    }
    a{
        position: relative;
        text-align: center;
        left: 30px;
        
        
    
    }



}